/*
*** colors ***
#       Plain-text-color     Location
Primary         #0084ff
Complementary   #ff7b00
Analogous       #00fffb
                #0004ff
Triadic         #7b00ff
                #ff0084
*/

:root {
    --primary: #0084ff;
    --triad1: #7b00ff;
    --triad2: #ff0084;
    --std-bg: #fff;
    --std-txt: #000;
}

body {
    width: 960px;
    margin: auto;
    background-color: var(--std-bg);
}

.content {
    margin-top: 10%;
}

.box {
    background-color: var(--primary);
    padding: 5px;
    display: inline;
}


img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.center {
    text-align: center;
}

