/*
*** colors ***
#       Plain-text-color     Location
Primary         #0084ff
Complementary   #ff7b00
Analogous       #00fffb
                #0004ff
Triadic         #7b00ff
                #ff0084
*/

:root {
    --primary-col: #0084ff;
    --triad1: #7b00ff;
    --triad2: #ff0084;
    --std-bg: #fff;
    --std-txt: #000;

}

@charset "UTF-8";
html {
    color: var(--std-txt);
    background: var(--std-bg);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: var(--primary-col);
}